@{
    ViewData["Title"] = "Home Page";

    
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.monTitre</h1>
    <h1 class="display-4">@ViewBag.MonTitre</h1>
    <a href="Aventure/Index">Jeu d'aventure</a>
</div>
